.rewardBg{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.rewardTop{
    width: 100px;
    height: 25px;
    background-color: #7aa944;
}

.rewardBody{
    width: 90px;
    height: 60px;
    background-color: #5c7e32;
}

.rewardTie1{
    position: absolute;
    width: 15px;
    height: 85px; 
}

.rewardTie2{
    position: absolute;
    top: 40px;
    width: 90px;
    height: 15px;

}

.rewardTie1,.rewardTie2{
    background-color: red;
}