.areaDoor{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    cursor: pointer;

    width: var(--area--door-width);
    height: var(--area--door-height);
}

.frameDoor,.frameDoorSelected{
    display: flex;
    flex: 1;
    width: 90%;
    background-color: #0005;
}

.frameDoor{
    border-left: 5px solid brown;
    border-top: 5px solid brown;
    border-right: 5px solid brown;
}

.containerDoor{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: chocolate;
    padding: 15px;
}

.numberDoor{
    font-size: 3rem;
}

.handleDoor{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: brown;
    top: calc(0.45*var(--area--door-height));
    display: flex;
    align-self: flex-start;

}

.floorDoor{
    height: 10px;
    width: 100%;
    background-color: #ddd;
}

.rewardContainer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}


/*Quando a porta é selecionada*/

.frameDoorSelected{
    border-left: 5px solid yellow;
    border-top: 5px solid yellow;
    border-right: 5px solid yellow;
}

.frameDoorSelected .numberDoor{
    color: yellow;
}

.frameDoorSelected .handleDoor{
    background-color: yellow;
}