*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: #222;
  color: #fff;
}

:root{
  --area--door-height:310px;
  --area--door-width:200px;
  
}