@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: #222;
  color: #fff;

  font-family: 'Roboto', sans-serif;
}

:root{
  --area--door-height:310px;
  --area--door-width:200px;
  
}