.container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

    background: rgb(133,9,149);
    background: linear-gradient(360deg, rgba(133,9,149,1) 0%, rgba(120,32,155,1) 27%, rgba(64,37,108,1) 100%);
}

.cardContainerUpper,.cardContainerBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-wrap: wrap; 
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    width: 100%;
    height: 100%;
}